body{
	margin: 0;
	padding: 0;
	font-family: Century Gothic, sans-serif;
	color: #331047;
	background-color: #dbc0eb;
	font-weight: bold;

}
.head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ba97cf;
	padding: 20px 0;
}
.logo{
	width: 250px;
}
.menu-links{
	margin: 0px;
	padding: 0;
}
.menu-item{
	display: inline;
	margin: 0 15px;
}
.section-main-title{
	margin-top: 40px;
	margin-bottom: 20px;
	color: #dbc0eb;
	font-family: 'Century Gothic', serif;
	font-size: 55px;
	font-weight: bold;
}
.section-main-subtitle{
	margin-bottom: 40px;
	color: #dbc0eb;
	font-size: 20px;
}
.section-main-button{
	background-color: #431061;
	border-color: #431061;
	border-radius: 100px;
	color: #dbc0eb;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 30px;
	cursor: pointer;
}
.menu-item-link{
	color: #331047;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}
.menu-item-link:hover{
	color: #71258a;
}
.hero{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: url(heroback.jpg) no-repeat center center / cover;
	height: 100vh;
	color: #dbc0eb;
}
.hero-info{
	background-color: rgba(30, 6, 38, 0.7);
	padding: 40px;
	border-radius: 100px;
	width: 740px;
}
.hero-title{
	font-size: 66px;
	margin: 0;
}
.hero-text{
	font-size: 24px;
	margin: 20px 0;
}
.intro,
.destinations,
.contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 20px;
}
.into-title,
.destinations-title,
.contact-title{
	font-size: 40px;
	color: #331047;
	margin-top: 20px;
}
.card{
	display: flex;
	flex-direction: row;
	margin: 20px 0;
	padding: 20px;
	width: 900px;
	background-color: #ba97cf;
	border-radius: 100px;
}
.card-img{
	width: 150px;
	height: 150px;
	border-radius: 100px;
	margin-right: 20px;
}
.card-content{
	text-align: left;
}
.card-title{
	margin-top: 0;
	color: #71258a;
}
.card-list{

}
.card-list-item{
	margin: 10px 0;
}
.footer{
	padding: 10px 0;
	background-color: #ba97cf;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 10px;
}
.decorations-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.destination{
	background-color: #ba97cf;
	border-radius: 90px;
	padding: 20px;
	width: 30%;
	margin: 20px;
}
.destination:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)	
}
.destination-img{
	width: 100%;
	border-radius: 80px;
}
.destination-title{
	font-size: 22px;
	color: #71258a;
	text-align: center;
	font-weight: bold;
}
.destination-text{
	text-align: center;
	font-weight: bold;
}
.form{
	background-color: #ba97cf;
	padding: 30px;
	border-radius: 70px;
	max-width: 600px;
}
.form-label{
	display: block;
	font-weight: bold;
	margin: 10px 0 5px 0;
}
.form-input,
.form-textarea{
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid #431061;
	border-radius: 100px;
	font-size: 20px;
	color: #431061;
	font-weight: bold;
}
.form-textarea{
	min-height: 120px;
	resize: vertical;
	border-radius: 50px;
}
.form-button{
    padding: 10px 20px;
	background: #d7bee6;
	border-radius: 100px;
	color: #431061;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	border-color: #431061;
}
.ащкь-button:hover{
	background: #b193c2;
}